/* Rob NavBar */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&display=swap');

html, body {
    font-family: 'Poppins';
    font-size: 15px;
    line-height: 1.5;
    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
    top: 0;
    left: 0;
}

a {
    text-decoration: none;
    color:rgb(196, 46, 0);
    font-weight: 500;
}
a:hover {
    color: white;
}
ul {
    list-style-type: none;
}
.navbar {
    background: black;
    padding: 1rem 4rem;
    height: 2rem;
    min-height: 10vh;
}
.navbar .navbar-brand a {
    padding: 2rem 0;
    display: block;
    text-decoration: none;
}
.navbar-brand {
    margin-right: 42px;
    font-family: 'Playfair Display';
    font-size: 2.4rem;
    color:rgb(196, 46, 0);
}
.navbar-toggler {
    background: black;
    border: none;
    padding: 10px 6px;
    outline: none;
}
.navbar-toggler span {
    display: block;
    width: 24px;
    height: 5px;
    border: 3px;
    background: white;
}
.navbar-toggler span + span {
    margin-top: 4px;
    width: 18px;
    margin-left: 4px;
}
.navbar-toggler span + span + span {
    width: 10px;
    margin-left: 10px;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding: 1.6rem 1.6rem;
    font-size: 1.4rem;
    position: relative;
}
.navbar-expand-lg .navbar-nav .nav-link:hover {
    border-top: 4px solid #ffffff;
}
.navbar-expand-lg .navbar-nav .nav-link:active {
    border-top: 4px solid #e74c3c;
    color: #f3f3f3;
}
/* .navbar-nav button {
    padding: 1.2rem 0;
}
.navbar-nav .btn {
    background-color:rgb(211, 102, 0);
    color: rgb(190, 12, 12);
    border-radius: 0;
    padding: 1rem 1.5rem;
    font-size: 1.2rem;
    margin-top: 1px;
} */
/* .navbar-nav .btn:hover {
    background-color: black;
} */


/* new idea */
/* 
.content {
    height: 100vh;
    width: 100%; */
    /* background-image: url(images/melting_ice.jpg); */
    /* background-position: center;
    background-size: cover; */
    /* padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: absolute;
} */
.logo{
    width: 85px;
    margin-right: 42px;
    cursor: pointer;
    float: left;
}
.content h1{
    font-size: 80px;
    font-weight: 400;
    margin-top: 275px;
    margin-bottom: 0px;
    margin-left: 20px;
    color:rgb(0, 0, 0);
}
.content p{
    margin-top: 100px;
    margin-left: 20px;
    font-size: 24px;
    color:rgb(255, 255, 255);
}
.content .btn{
    margin-top: 100px;
    margin-left: 20px;
    display: inline-block;
    background: linear-gradient(45deg, #e61f1f, #f88400);
    border-radius: 6px;
    padding: 10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    box-shadow: 3px 8px 22px rgba(94,28,68,0.15);
}
