/* NAVBAR */
/* Style navbar */
.navbar-brand {
    width: 100px;
    /* background-color: #0BADA6; */
    color: white;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    display: block;
    padding: 5px;
    margin: 0px 0px 0px 0px;
    /* top, right, bottom, left */
}

/* Found that this was what I needed to edit by inspecting the site itself and location the code that changed 
the color of the text in the navbar brand */
.navbar-dark .navbar-brand {
    color: lightgrey;
}

/* change the color when you hover over the navbar brand to white so that there is no change in the color */
.navbar-dark .navbar-brand:hover{
    color: white;
}

.drought_img{
    height: 300px;
    width: 600px;
    margin-bottom: 0px;
    margin-top: 0px;
    vertical-align:text-top;
    margin-right: 10px;
}

.navbar-dark .navbar-nav .nav-link{
    color: white;
}

/* .dropdown-item{
    margin-right: 50px;
} */

/* hover grey over dropdown */
/* .navbar .dropdown:hover {
    background-color: lightgray;
} */

/*  ---------------------------------------------------------------------------------------------------------- */

/* GENERAL SITE DETAILS FOR ALL PAGES */
/* add site background */
body {
    background-color: white;
}

/* edit title color and font */
.title {
    color: black;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-weight: bold;
    /* padding:auto; */
    margin-top: 30px;
    margin-bottom: 20px;
}

h2{
    margin-top: 20px;
    margin-bottom: 0px;
}

.container-fluid{
    margin-top: 10px;
}

/* change the font and size of the description-- used for data and comparison pages */
.description{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    padding-bottom: 10px;
}
/*  ---------------------------------------------------------------------------------------------------------- */

/* INDEX PAGE */
/* alter size of boxes on index*/
.intro {
    position: relative;
    margin-top: 30px; 
    margin-bottom: 30px; 
    padding: 10px 20px 50px; 
    color:black;
}

.introduction{
    font-size: 20px;
}


.vis-box {
    position: relative;
    margin-top: 60px; 
    margin-bottom: 62px; 
    padding: 25px 15px 40px; 
    padding-right: 50px;
    color:black;
    background-color: white; 
}

/* Box around image when you hover over it */
.container .option:hover {
    border:0.1px solid black;
}


/* Text under visualizations graphs */
.overlay {
    color: black;
    text-align: right;
    font-size: 10px;
    padding: 1px 20px 10px;
}

/* Change font size, color above smaller visualizations */
.img-title {
    color: #0BADA6;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
    padding-top: 10px;
    padding:auto;
    margin: auto;
    font-size: 10px;
    text-align: center;
}

/*  ---------------------------------------------------------------------------------------------------------- */

/* COMPARISON PAGE */

/* alter box on comparisons */
.comp-box{
    position: relative;
    margin-top: 60px; 
    margin-bottom: 62px; 
    padding: 25px 15px 40px; 
    padding-right: 50px;
    color:black;
    background-color: white; 
}

/* alter comp details-- details are the description above each image */
.detail {
    color: #0BADA6;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
}

/* change detail hover to remove underline when hovered over */
a:hover {
    text-decoration: none;
}

/* add padding to images-- class is imgage */
.imgage{
    padding: initial;
    padding-top: 0px;
    padding-bottom: 20px;
}

/*  ---------------------------------------------------------------------------------------------------------- */
/* DATA PAGE */
.table {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 25px;
    padding-bottom: 0px;
    background-color: white;
}
.container .table{
    margin-top: 60px;
}

/* .data-box {
    position: relative;
    margin-top: 60px; 
    margin-bottom: 62px; 
    padding: 25px 15px 40px; 
    padding-right: 50px;
    color:black;
    background-color: white; 
} */


/*  ---------------------------------------------------------------------------------------------------------- */

/* MEDIA CHANGES */
/* Change the size of the navbar on changing the size of the screen */
/* @media(max-width: 992px){
.navbar-expand-sm {
background-color: #0BADA6 !important;}} */

/* Box around image when you hover over it */

@media(max-width: 992px){
.container .option:hover {
    border:none;
}}