<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>One-Hot Future</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../Static/css/home.css">
</head>



<body>
    <!-- NavBar -->
    <header class="header">
        <nav class="navbar navbar-expand-lg header-nav fixed-top">
          <img src="../static/images/updated_logo.png" class="logo">
            <div class="container-fluid">
              <a class="navbar-brand" href="../Templates/a_home.html">One-Hot Future</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
                <span></span>
              </button>
              <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="../Templates/a_home.html">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../Templates/b_background.html">Background</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Predictions
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="../Templates/c_emissions.html">Emissions Predictions</a></li>
                      <li><a class="dropdown-item" href="../Templates/d_temperatures.html">Temperature Predictions</a></li>
                      <li><a class="dropdown-item" href="../Templates/e_clustering.html">Clustering</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link", target="_blank", href="https://github.com/yuyhong23/One-Hot_Future">GitHub</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../Templates/f_aboutus.html">About Us</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </header>
    <div class="content">

      <h1>Climate Change Is Real.</h1>
      <p>“By polluting the oceans, not mitigating CO2 <br>emissions and destroying our biodiversity, <br>we are killing our planet. Let us face it, <br>there is no planet B.”</p>
      <a target="_blank", href="https://lets-fund.org/clean-energy/" class="btn">Support Clean Energy</a>
    </div>

        <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <!-- config file -->
    <script type="text/javascript" src="../static/js/js.js"></script>
    <!-- Bootstrap 5 -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"
        integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js"
        integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script> -->
    <script type="text/javascript" src="js/bootstrap/bootstrap-dropdown.js"></script>
    <script>
        $(document).ready(function () {
            $('.dropdown-toggle').dropdown()
        });
    </script>
    <!-- Our JavaScript -->
    <script type="text/javascript" src="../static/js/js.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>

    
</body>
</html>