<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>One-Hot Future</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../Static/css/main.css">
</head>



<body>
    <!-- NavBar -->
    <header class="header">
        <nav class="navbar navbar-expand-lg header-nav fixed-top">
          <img src="../static/images/updated_logo.png" class="logo">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">One-Hot Future</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
                <span></span>
              </button>
              <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/background">Background</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Predictions
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="/emissions">Emission Predictions</a></li>
                      <li><a class="dropdown-item" href="/temperatures">Temperature Predictions</a></li>
                      <li><a class="dropdown-item" href="/clustering">Clustering</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link", target="_blank", href="https://github.com/yuyhong23/One-Hot_Future">GitHub</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/aboutus">About Us</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </header>
    <h2 style="text-align: center;" class="title">KMeans Clustering of Countries</h2>
    <p style="text-align: center;"> Select a country from the menu to see its energy consumption pattern and CO2 emissions
       for the years 2000, 2011 and 2019</p>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">

                
              <div class='tableauPlaceholder' id='viz1617389320945' style='position: relative'>
                <noscript><a href='#'>
                    <img alt='Story 1 '
                      src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;vi&#47;view_2000&#47;Story1&#47;1_rss.png'
                      style='border: none' />
                  </a></noscript><object class='tableauViz' style='display:none;'>
                  <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                  <param name='embed_code_version' value='3' />
                  <param name='site_root' value='' />
                  <param name='name' value='view_2000&#47;Story1' />
                  <param name='tabs' value='no' />
                  <param name='toolbar' value='yes' />
                  <param name='static_image'
                    value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;vi&#47;view_2000&#47;Story1&#47;1.png' />
                  <param name='animate_transition' value='yes' />
                  <param name='display_static_image' value='yes' />
                  <param name='display_spinner' value='yes' />
                  <param name='display_overlay' value='yes' />
                  <param name='display_count' value='yes' />
                  <param name='language' value='en' />
                  <param name='filter' value='publish=yes' />
                </object>
              </div>
              <script type='text/javascript'>
                var divElement = document.getElementById('viz1617389320945');
                var vizElement = divElement.getElementsByTagName('object')[0];
                vizElement.style.width = '800px'; vizElement.style.height = '827px';
                var scriptElement = document.createElement('script');
                scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
                vizElement.parentNode.insertBefore(scriptElement, vizElement);
              </script>
            </div>
            
        </div>
    </div>





    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <!-- config file -->
    <!-- <script type="text/javascript" src="/static/js/js.js"></script> -->
    <!-- Our JavaScript -->
    <script type="text/javascript" src="../static/js/js.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>
    <script type="text/javascript" src="js/bootstrap/bootstrap-dropdown.js"></script>
    <script>
        $(document).ready(function () {
            $('.dropdown-toggle').dropdown()
        });
    </script>
<footer> One-Hot Future &copy; 2021 </footer>
</body>
</html>




  

   
