<html>
<head>
    <title>One-Hot Future</title>
    <link rel="stylesheet" type="text/css" href="../Static/css/robstyle2.css">
</head>
<body>
    <div class="container">
        <div class="navbar">
            <img src="../Static/images/final_logo_100w.png" class="logo">
            <nav>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Predictions</a></li>
                    <li><a href="">GitHub</a></li>
                    <li><a href="">The Team</a></li>
                </ul>
            </nav>
            <img src="../Static/images/final_logo_100w.png" class="cart">
        </div>
        <div class="content">
            <a href="" class="btn">2020 Collections</a>
            <h1>You should always feel pretty</h1>
            <p>Clothes that are sure to heat up your winter</p>

            <div class="arrow-icons">
                <img src="images/back-arrow.png">
                <img src="images/next-arrow.png">
            </div>
        </div>

        <img src="images/img.png" class="feature-img">

    </div>

</body>
</html>